.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 18px;
    padding-bottom: 28px;
}

.logo {
    display: flex;
}

.logo__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 22px;
    color: #2E2E2E;
    margin-left: 13px;
}

.icon__facebook {
    margin-right: 19px;
}