.infinite__section {
    background: #F2F2F2;
    height: 438px;
    padding-top: 77px;
}

.infinite__heading {
    font-weight: 400;
    font-size: 37px;
    line-height: 36px;
    text-align: center;
    color: rgba(0, 0, 0, 0.56);
    margin-bottom: 32px;
}

.infinite__text {
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    width: 819px;
    margin: 0 auto;
    margin-bottom: 56px;
}

.infinite__logo {
    margin-left: 600px;
}