.your {
    background: #FAC960;
    height: 360px;
    position: absolute;
    top: 450px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}

.your__heading {
    font-weight: 400;
    font-size: 37px;
    line-height: 36px;
    text-align: center;
    color: #8A6D2F;
    padding-top: 54px;
    margin-bottom: 31px;
}

.your__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 33px;
}

.your__img {
    margin-left: 690px;
}